<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
    <title>
        <%=title %>- Microblog</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
    <link href="stylesheets/bootstrap-responsive.css" rel="stylesheet">

    
</head>

<body>
    
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/">X-Shop</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li class="active"><a href="/">Index</a>
                        </li>
                        <% if (!user) { %>
                            <li><a href="/login">Login</a>
                            </li>
                            <li><a href="/reg">Register</a>
                            </li>
                            <% } else { %>
                                <li><a href="/logout">Logout</a>
                                </li>
                                <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="row-fluid">
            <% include mainMenu %>
            
            <div class="span9">
               
       
      
     /storesman2/request/report/transaction_historical_summary_report.xhtml
     
    /replenishment/delivery_note_search_po.xhtml
    
   /storesman2